<li>{{email}} is the correct email for the person for whom the plan is purchased,
    named in personal information.
</li>

<li>I authorize my checking/savings account or credit card to be charged for a one-time payment for the amount indicated
    here. A receipt for the payment will be emailed to me.
</li>

<li>I understand that the person for whom this plan is purchased will receive an email to authorize the terms of this
    agreement. I will not be charged until they accept the terms of the plan.
</li>