// Overrided Bootstrap variables
$primary: #002b3d;
$info: #310832;
$border-radius: 8px;
$border-radius-lg: 8px;

@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: Beausite;
  src: url('/fonts/BeausiteClear.woff');
}

@font-face {
  font-family: Beausite;
  src: url('/fonts/BeausiteBold.woff');
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Beausite, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  color: white;
  text-align: center;
}

button,
.link-primary {
  cursor: pointer;
}

.invalid-feedback {
  margin-top: 5px !important;
  font-size: 11px !important;
  line-height: 1 !important;
}

.btn-primary,
.btn-info {
  border-radius: 50px;
  border-bottom-right-radius: 0;
}
